/*fonts*/
@font-face{
  font-family: 'HypatiaSansProBold';
  font-style: bold;
  src: url('Assets/Fonts/hypatia-sans-pro/HypatiaSansPro-Bold.otf') 
  format("opentype");
}
@font-face{
  font-family: 'AkrobatRegular';
  font-style: normal;
  src: url('Assets/Fonts/Akrobat/OTF/Akrobat-Regular.otf') format("opentype");
}
@font-face{
  font-family: 'AkrobatLight';
  font-style: normal;
  src: url('Assets/Fonts/Akrobat/OTF/Akrobat-Light.otf') format("opentype");
}
html, body{
    padding: 0px;
    margin: 0px;
}
main{
    min-height: 700px;
}

/*assign font, size, colors to actual elements insted of having multiple classes in your templates.*/
h1, h2, h3, h4, h5, h6{
    font-family: "HypatiaSansProBold";
}
p{
  font-family: "AkrobatRegular";
  font-size: 1.2rem;
}


.font-bold{
    font-family: "HypatiaSansProBold";
}
.font-normal{
    font-family: "HypatiaSansProNormal";
}
.font-size-1{
    font-size: .8rem;
}

/*proper way to implement navigation colors/states */
nav {
   font-family: "HypatiaSansProBold";
}
nav .nav-link {
     color: #E5E2C4 !important; 
}
nav .nav-link:hover{
     color: #C9AA61 !important; 
}


/*colors*/
/*name color when possible*/
.color-black{ 
    color: #050505 !important;
}

.color-primary{
	color: #E5E2C4  !important; 
}

.color-secondary{
	color: #8C2A1C !important; 
}
.color-tertiary{
	color: #C9AA61 !important; 
}

/*backgrounds*/
.bg-black{
    background-color: #050505 !important;
}
.bg-primary{
    background-color: #808080 !important;
}
.bg-secondary{
	background: #8C2A1C !important; 
}
.bg-tertiary{
	background: #E5E2C4  !important; 
}

/*navbar*/
.nav-item{
    padding-left: 3em;
    padding-right: 3em;
}
.nav-link{
    display: inline-block;
}
 .custom-toggler.navbar-toggler { 
    border-color: #E5E2C4; 
} 
.custom-toggler .navbar-toggler-icon { 
    background-image: url( "data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(229, 226, 196, 0.8)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E"); 
}

/*images/objects*/
.img-container{
    height: inherit;
    width: inherit;
}
.img-container img{
    position: relative;
	width:100%;
	height:100%;
}
img {	
	object-fit: cover;
	object-position: 50% 50%;
}

/*fixed height should increment from 1 not decrease*/
.fixed-height-1{
    height: 35em !important;
}
/*better to assign fixed height per element type*/
.logo{
    height: 150px;
}

/*describes how the text is used*/
.overlay-text{
  width: auto;
  height: auto;
  position: absolute;  
  top: 50%;
  left: 10%;  
  color: #fff;
}

/* caption class should be for font/size styling for actual image caption - see figure and figure-caption to set these
.caption {
  height: 20em;
  top: 50%;
  left: 10%;    
  color: #ffffff;
  text-align:center;
}
*/



