/*fonts*/
@font-face{
  font-family: 'HypatiaSansProBold';
  font-style: bold;
  src: url('Fonts/hypatia-sans-pro/HypatiaSansPro-Bold.otf') 
  format("opentype");
}
@font-face{
  font-family: 'AkrobatRegular';
  font-style: normal;
  src: url('Fonts/Akrobat/OTF/Akrobat-Regular.otf') format("opentype");
}
@font-face{
  font-family: 'AkrobatLight';
  font-style: normal;
  src: url('Fonts/Akrobat/OTF/Akrobat-Light.otf') format("opentype");
}
/*HTML tags*/
html, body{
    padding: 0px;
    margin: 0px;
    font-family: 'AkrobatRegular';
    font-size: 1.2rem;
    color: black;
}
main{
    min-height: 700px;
}
/*assign font, size, colors to actual elements insted of having multiple classes in your templates.*/
h1, h2, h3, h4, h5, h6{
    font-family: "HypatiaSansProBold";
}
p, span{
  font-family: "AkrobatRegular";
  font-size: 1.2rem;
  color: black;
}
.blockquote {
    font-family: 'HypatiaSansProBold';
}

/*navbar-brand*/
.navbar-brand{
    min-width: 150px;
}
/*navbar*/
nav .nav-item{
/*
    margin-left: 1.5em;
    margin-right: 1.5em;
*/
    margin-right: 1.5em;
    text-transform: capitalize;
    width: auto;
    display: inline-block;
}
nav .nav-item .nav-link{
    display: inline-block;
    font-size: 1.1rem;
    text-transform: capitalize;
}
/*navigation colors/states */
nav {
   font-family: "HypatiaSansProBold";
    text-transform: capitalize;
    z-index: 9999;
}
nav .nav-link{
     color: #E5E2C4 !important; 
}
nav .nav-link:hover{
     color: #C9AA61 !important; 
}
.nav .nav-link{
    color: #8C2A1C !important;
}


/*hover to dropdown*/
nav .dropdown:hover > .dropdown-menu {
    display: block; 
}

.dropdown-item .nav-link{
    text-transform: capitalize;
    color: #8C2A1C !important; 
}
.dropdown-item:hover{
    color: #8C2A1C !important; 
    background: #C9AA61 !important; 

}

/* footer nav*/
footer ul.nav{
    width: 100%;
    display: block;
    font-family: "AkrobatLight";
}
footer ul.nav .nav-item{
    display: block;
    color: #8C2A1C !important; 
}
footer ul.nav .header{
/* border-bottom: 1px solid #050505; */
}
footer ul.nav .nav-item .nav-link{
    color: #8C2A1C !important; 
}
footer ul.nav .nav-item .nav-link:hover{
    color: #C9AA61 !important; 
}
footer ul.nav .nav-item .disabled{
    color: #050505 !important; 
}

/*colors*/
/*name color when possible*/
.color-black{ 
    color: #050505 !important;
}
.color-tan{
	color: #E5E2C4  !important; 
}
.color-light-tan{
    color: #F1EFE1 !important;
}
.color-dark-tan{
	color: #C9AA61 !important; 
}
.color-red{
	color: #8C2A1C !important; 
}
.color-white{
	color: white !important; 
}
/*backgrounds*/
.bg-light-tan{
    background-color:  #F1EFE1 !important;
}
.bg-black{
    background-color: #050505 !important;
}
.bg-grey{
    background-color: #808080 !important;
}
.bg-red{
	background: #8C2A1C !important; 
}
.bg-tan{
	background: #E5E2C4  !important; 
}
/*border*/
.border-red{
    border-color: #8C2A1C !important; 
}

.custom-toggler.navbar-toggler { 
    border-color: #E5E2C4; 
} 
.custom-toggler .navbar-toggler-icon { 
    background-image: url( "data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(229, 226, 196, 0.8)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E"); 
}
/*images/objects*/
.img-container{
    height: inherit;
    width: inherit;
}
.img-container img{
    position: relative;
	width:100%;
	height:100%;
}
img {	
	object-fit: cover;
	object-position: 50% 50%;
}
.fixed-height-1{
    height: 20em !important;
}
.fixed-height-2{
    height: 50em !important;
}
.fixed-height-3{
    height: 35em !important;
}
.fixed-width-1{
    width: 15em !important;
}
.logo{
    height: 5em;
}
.overlay-text{
  width: auto;
  height: auto;
  position: absolute;
  top: 3%;
  left: 3%;  
}
.card-img-overlay{ 
  pointer-events: none;
}
/*carousel*/
.carousel-control-prev-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%238c2a1c ' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
}
.carousel-control-next-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%238c2a1c' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
}
.carousel-indicators li {
  width: 10px;
  height: 10px;
  border-radius: 100%;
}
.carousel-indicators{
    top:10px;
    text-align: right;
    float: right;
    right: 0px !important;
    left: inherit;
}

.carousel-inner > .carousel-item {
    height: 30em;
}
.carousel-inner > .carousel-item > .img-container > img{
    object-fit: contain;
	object-position: 50% 50%;
}
.carousel-inner > .carousel-item > .img-container > video{
    object-fit: contain;
	object-position: 50% 50%;
    height: 30em;
}
.carousel-inner > .carousel-item > .img-container{
    height: 30em;
}
.carousel-caption{
  max-height: 40%;
  left: 0%;
  bottom:-.05em;
  overflow-y: scroll;
  z-index: 999;
  position: absolute;
}
.overlay-opacity{
    opacity: 0;
}
.overlay-opacity:hover{
    opacity:1;
}
figure{
    position: relative;
}
figure > .img-container{
    position: absolute !important;
    width: 100%;
    
}
figure > .img-container > img{
    object-fit: contain !important;
	object-position: 50% 50% !impotant;
    height: 30em ;
}
figure > .img-container > video{
    object-fit: contain !important;
	object-position: 50% 50% !impotant;
    height: 30em ;
}
figure, .figure-img, figure > .img-container{
    height:  30em;
}
.figure-caption{
    position: absolute !important;
    max-height: 50%;
    left: 0px;
    bottom:0px !important;
    overflow-y: scroll;
}
.img-container .caption{
    position: absolute !important;
    max-height: 50%;
    left: 0px;
    bottom:0px !important;
    overflow-y: scroll;
}
.image {
    float: left;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 300px;
    width: 200px
  }

.fixed-button {
    position: fixed;
    bottom: 2%;
    right: 2%;
    cursor: pointer;
    color: #E5E2C4  !important; 
    background: #8C2A1C !important;
    z-index: 9999;
}
.font-size-1{
    font-size: .7em;
}


/* Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) {
    /*figure > .img-container > video{
        height: 15em !important;
    }
    figure, .figure-img, figure > .img-container{
        height:  15em !important;
    }
    figure > .img-container > img{
        height: 15em !important;
    }
    .carousel-inner > .carousel-item {
        height: 15em !important;
    }*/
}
/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {
    /*figure > .img-container > video{
        height: 20em !important;
    }
    figure > .img-container > img{
        height: 20em !important;
    }
    figure, .figure-img, figure > .img-container{
        height:  20em !important;
    }
   .carousel-inner > .carousel-item
        height: 20em !important;
    }*/
}
.pointer{
     cursor: pointer;
}
br {
    display: block;
    margin-bottom: 0;
    font-size:0;
    line-height:0;
}





